body, html, *{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
    background-color: lightblue;
}


.h1box{
    width: 500px;
    height: 50px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(66, 208, 255);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.container{
    display: flex;
    justify-content: center;
}

.Blog{
    width: 300px;
    height: auto;
    margin: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(104, 93, 255);
    text-align: center;
    transition: all 0.3s ease-in-out; 
}

.Blog img{
    width: 100%;
}

.Blog:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
}

